* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --indigoDye: 5, 12, 31;
    --lemon: 250, 240, 202;
    --yellow: 244, 211, 94;
    --sandyBrown: 238, 150, 75;
    --orange: 249, 87, 56;

    --background: var(--indigoDye);
    --border: var(--lemon);
    --textButton: var(--yellow);
    --text: var(--lemon);
    --darkText: var(--indigoDye);
    --lightButtonBackground: var(--yellow);
    --darkButtonBackground: var(--orange);
    --warning: var(--orange);
    --productBorder: var(--lemon);

    /* Fonts */
    --source: "Source Sans Pro", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(var(--background));
    font-family: var(--montserrat);
}

/* Table Of Contents */
/* 1. Navbar */
/* 2. Welcome Page */
/* 3. Login Page */
/* 4. Register Page */
/* 5. Login and Register Forms */
/* 6. Home Page */
/* 7. Detail Page */

/* Navbar */
nav {
    height: 6rem;
    padding: 0 6.667vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(var(--border));
}

.nav__logo {
    cursor: pointer;
}

.nav__content {
    padding-left: 4vw;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__content--guest {
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.nav-links__link {
    list-style: none;
    transition: all 150ms ease-in-out;
}

.nav-links__link > a {
    color: rgba(var(--text));
    text-decoration: none;
}

.nav-links__link:hover,
.nav-links__link:focus {
    color: rgba(var(--lemon));
    transform: scale(1.1);
}

.nav-links__right {
    display: flex;
    gap: 2rem;
}

.nav-links__add-item,
.nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--textButton));
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--source);
    transition: all 150ms ease-in-out;
}

.nav-links__add-item {
    padding: 0.7rem 1rem;
    color: rgba(var(--text));
    background: rgba(var(--darkButtonBackground));
}

.nav__user > svg {
    margin-left: 4px;
}

.nav-links__add-item > svg {
    margin-right: 4px;
}

.nav__user:hover {
    transform: scale(1.05);
}

.nav-links__add-item:hover,
.nav-links__add-item:focus {
    color: rgba(var(--darkText));
    background: rgba(var(--lightButtonBackground));
}

/* Welcome Page */
.welcome {
    width: 100%;
    height: 62.5vh;
    padding-left: 6.667vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(var(--border));
    color: rgba(var(--text));
}

.welcome__text {
    display: flex;
    flex-direction: column;
}

.welcome__hero {
    margin-bottom: 3.125vh;
    font-size: 4.25rem;
}

.welcome__hero__mai {
    color: rgba(var(--sandyBrown));
}

.welcome__hero__boutique {
    color: rgba(var(--orange));
}

.welcome__description {
    margin-bottom: 2.34vh;
    font-size: 1.625rem;
}

.welcome__register {
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.625rem;
    font-weight: bold;
    background: rgba(var(--lightButtonBackground));
    color: rgba(var(--darkText));
    text-decoration: none;
    transition: transform 150ms ease-in-out;
}

.welcome__register:hover {
    transform: scale(1.05);
}

.welcome__image {
    position: relative;
    width: 41.67%;
    height: 100%;
    box-shadow: 0px 0px 28px 23px rgba(var(--background)) inset;
    /* border-radius: 50px 0; */
    overflow: hidden;
}

.welcome__image > img {
    height: 100%;
    position: relative;
    z-index: -1;
}

/* Login Page */
.login {
    height: fit-content;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__form {
    width: 50vw;
    flex-grow: 1;
    padding: 4vh 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(var(--background));
    color: rgba(var(--text));
    border-left: 1px solid rgba(var(--border));
    border-right: 1px solid rgba(var(--border));
}

.login__title {
    margin-bottom: 2vh;
    font-size: 4.25rem;
}

/* Register Page */
.register {
    height: fit-content;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register__form {
    width: 50vw;
    padding: 4vh 5vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(var(--background));
    color: rgba(var(--text));
    border-left: 1px solid rgba(var(--border));
    border-right: 1px solid rgba(var(--border));
}

.register__title {
    margin-bottom: 2vh;
    font-size: 4.25rem;
}

/* Login and Register Forms */
.form {
    width: 100%;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.form__label {
    font-size: 1.625rem;
}

.form__input {
    padding: 0.5rem 0.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(var(--border));
    outline: none;
    color: rgba(var(--text));
    font-size: 1.625rem;
    transition: padding 150ms ease-in-out;
}

.form__input:focus {
    padding: 0.75rem 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__input[type="number"] {
    -moz-appearance: textfield;
}

.form__field--remember {
    flex-direction: row;
    gap: 1vw;
}

.form__input--remember {
    width: 1.25rem;
}

.form__error-message {
    color: rgba(var(--warning));
    font-size: 0.875rem; /* 14px */
}

.form__submit {
    padding: 1vh 0;
    font-family: var(--source);
    font-size: 1.625rem;
    font-weight: bold;
    background: rgba(var(--lightButtonBackground));
    color: rgba(var(--darkText));
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.form__submit:focus,
.form__submit:hover {
    transform: scale(1.03);
}

.form-link__link {
    text-decoration: none;
    font-weight: bold;
    color: rgba(var(--yellow));
}

.form__is-invalid {
    border-bottom: 1px solid rgba(var(--warning));
}

/* Home Page */
.home {
    padding: 3rem 6.67vw;
    display: flex;
    flex-direction: column;
    color: rgba(var(--text));
}

.home__title {
    margin-bottom: 4vh;
    font-size: 3rem;
}

.home__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(min-content, 1fr);
    gap: 2em;
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgba(var(--productBorder));
    transition: transform 150ms ease-in-out;
}

.product:hover {
    transform: scale(1.02);
}

.product__image {
    width: 100%;
}

.product__desc {
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.product__name {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__price {
    margin-bottom: 2vh;
    font-size: 1.25rem;
}

.product__link {
    padding: 1vh 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--darkButtonBackground));
    color: rgba(var(--text));
    font-weight: bold;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.product__link:hover,
.product__link:focus {
    background: rgba(var(--lightButtonBackground));
    color: rgba(var(--darkText));
}

.pagination {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.pagination__link {
    text-decoration: none;
    color: rgba(var(--text));
    transition: text-decoration 150ms ease-in-out;
}

.pagination__link:hover {
    text-decoration: underline;
}

.pagination__pages {
    display: flex;
    gap: 1rem;
}

.pagination__page-link {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(var(--border));
    text-decoration: none;
    color: rgba(var(--text));
    transition: all 150ms ease-in-out;
}

.pagination__page-link:hover {
    background: rgba(var(--border));
    color: rgba(var(--darkText));
}

.pagination__page-link:active {
    transform: scale(1.05);
}

/* Detail Page */
.product-detail {
    height: fit-content;
    min-height: 100%;
    padding: 4vh 6.67vw;
    display: flex;
    justify-content: space;
    flex-direction: column;
    color: rgba(var(--text));
}

.product-detail__header {
    margin-bottom: 6vh;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.product-detail__back {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgba(var(--text));
    transition: transform 150ms ease-in-out;
}

.product-detail__back:hover,
.product-detail__back:focus {
    transform: scale(1.1);
}

.product-detail__title {
    font-size: 2.5rem;
}

.product-detail__product {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2vw;
}

.product-detail__image {
    width: 30vw;
}

.product-detail__description {
    min-width: 40vw;
}

.product-detail__name {
    margin-bottom: 1vh;
    font-size: 5rem;
}

.product-detail__price {
    margin-bottom: 4vh;
    font-size: 1.5rem;
}

.product-detail__description {
    margin-bottom: 2vh;
    font-size: 2rem;
}

.product-detail__description__content {
    margin-bottom: 4vh;
    font-size: 1.25rem;
    font-family: var(--source);
}

.product-detail__quantity {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.product-detail__quantity__label {
    font-size: 1.75rem;
    font-weight: bold;
}

.product-detail__quantity__form {
    height: 4rem;
    display: flex;
    gap: 2vh;
}

.product-detail__quantity__input {
    width: 20rem;
    height: 100%;
    text-align: center;
    outline: none;
    border: 1px solid rgba(var(--border));
    background: none;
    color: rgba(var(--text));
    font-family: var(--source);
    font-size: 1.5rem;
}

.product-detail__quantity__submit {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    background: rgba(var(--lightButtonBackground));
    color: rgba(var(--darkText));
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.product-detail__quantity__submit:hover {
    transform: scale(1.02);
}

.product-detail__delete {
    padding: 1rem 2rem;
    border: none;
    background: rgba(var(--orange));
    color: rgba(var(--text));
    font-size: 1.25rem;
    font-family: var(--source);
    cursor: pointer;
    transition: all 150ms ease;
}

.product-detail__delete:hover {
    transform: scale(1.05);
}

/* Cart Page */
.cart {
    padding: 3rem 6.67vw;
    color: rgba(var(--text));
}

.cart__header {
    width: 100%;
    margin-bottom: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__title {
    font-size: 3rem;
}

.cart__desc {
    display: flex;
    gap: 2rem;
}

.cart__total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__checkout {
    padding: 2vh 2rem;
    background: rgba(var(--darkButtonBackground));
    color: rgba(var(--text));
    transition: all 150ms ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.cart__checkout:hover,
.cart__checkout:focus {
    background: rgba(var(--lightButtonBackground));
    color: rgba(var(--darkText));
    transform: scale(1.05);
}

.cart__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(min-content, 1fr);
    gap: 2em;
}
